## Libraries

In [6]:
from neuralNetwork.neuralnetwork import Network as net
import pandas as pd
import numpy as np

## Load Data

In [11]:
path = r'./../data/'
tf   = pd.read_csv(path+'train_feautures.csv') # train features
tt   = pd.read_csv(path+'train_targets.csv')   # train targets
tef  = pd.read_csv(path+'test_feautures.csv')  # test features
teft = pd.read_csv(path+'test_targets.csv')    # test targets
vf   = pd.read_csv(path+'val_feautures.csv')   # val features
vt   = pd.read_csv(path+'val_targets.csv')     # validation targets

In [12]:
tf.head(1)

,dteday,temp,yr_0,yr_1,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,...,weathersit_4,windspeed1,hum1_0,hum1_1,hum1_2,hum1_3,windspeed1_0,windspeed1_1,windspeed1_2,windspeed1_3
0,2011-01-01,-1.334648,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

## Loss function

In [13]:
def mse(y, Y):
    return np.mean((y-Y)**2)

## Initial Network Parameters

In [15]:
n_iter        = 1000
learning_rate = 0.05
hidden_nodes  = 16
output_nodes  = 1  # regression problem single variable to predict
input_nodes   = tt.shape[1]

## instantiate network

In [ ]:
network = net()